<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.j.qsng.dao.AdminUserPicMapper" >

    <resultMap id="adminUserPic" type="com.j.qsng.model.admin.AdminUserPic" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="userId" property="userId" jdbcType="VARCHAR" />
        <result column="attachmentId" property="attachmentId" jdbcType="VARCHAR" />
        <result column="imageName" property="imageName" jdbcType="VARCHAR" />
        <result column="intro" property="intro" jdbcType="VARCHAR" />
        <result column="prize_num" property="prizeNum" jdbcType="DOUBLE" />
        <result column="newName" property="newName" jdbcType="VARCHAR" />
        <result column="score" property="score" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <resultMap id="adminUserPicDto" type="com.j.qsng.dto.AdminUserPicDto" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="userId" property="userId" jdbcType="VARCHAR" />
        <result column="attachmentId" property="attachmentId" jdbcType="VARCHAR" />
        <result column="imageName" property="imageName" jdbcType="VARCHAR" />
        <result column="intro" property="intro" jdbcType="VARCHAR" />
        <result column="prize_num" property="prizeNum" jdbcType="DOUBLE" />
        <result column="newName" property="newName" jdbcType="VARCHAR" />
        <result column="score" property="score" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
    </resultMap>




<insert id="add" parameterType="com.j.qsng.model.admin.AdminUserPic">
    INSERT INTO `t_admin_user_pic`
    (`id`,
    `userId`,
    `attachmentId`,
    `imageName`,
    `intro`,
    `newName`,prize_num,score,status
    )VALUES
    (#{id},
    #{userId},
    #{attachmentId},
    #{imageName},
    #{intro},
    #{newName},
    #{prizeNum},
    #{score},#{status}
    )
</insert>
    <select id="count"  resultType="int" >
       select count(1)from t_admin_user_pic
    </select>
    <select id="queryByPage" parameterType="map"  resultMap="adminUserPicDto" >
      select t.*,t1.name,t1.username from t_admin_user_pic t , t_admin_user t1 where t.userId=t1.id order by score desc,t.id asc limit #{offset},#{size}
    </select>
    <select id="load" parameterType="string"  resultMap="adminUserPicDto" >
        select t.*,t1.name,t1.username from t_admin_user_pic t , t_admin_user t1 where t.userId=t1.id and t.id=#{id}
    </select>


    <update id="addParise" parameterType="map">
        UPDATE t_admin_user_pic
            SET
            prize_num =prize_num+1
        WHERE  userId=#{userId} and attachmentId=#{attachmentId}
    </update>

    <update id="addPariseById" parameterType="string">
        UPDATE t_admin_user_pic
        SET
        prize_num =prize_num+1
        WHERE  id=#{id}
    </update>
    <delete id="delete" parameterType="string">
        delete from t_admin_user_pic where id=#{id}
    </delete>

</mapper>
