<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.j.qsng.dao.CongfigMapper" >
    <resultMap id="BaseResultMap" type="com.j.qsng.model.CongfigPojo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="conf_key" property="configKey" jdbcType="VARCHAR" />
        <result column="conf_value" property="configValue" jdbcType="VARCHAR" />
        <result column="insertTime" property="insertTime" jdbcType="INTEGER" />
    </resultMap>

    <select id="getConfigvalue"  parameterType="string" resultType="string" >
        select conf_value from t_framework_conf where conf_key=#{key}
    </select>
</mapper>
