<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.j.qsng.dao.UserScoreLogMapper" >

    <resultMap id="userScoreLog" type="com.j.qsng.model.admin.UserScoreLog" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="chooseLogId" property="chooseLogId" jdbcType="VARCHAR" />
        <result column="score" property="score" jdbcType="DOUBLE" />
        <result column="chooseUsername" property="chooseUsername" jdbcType="VARCHAR" />
        <result column="insertTime" property="insertTime" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="add" parameterType="com.j.qsng.model.admin.UserScoreLog">
       INSERT INTO `t_user_score_log`(
                               `chooseLogId`,
                               `score`,
                               `chooseUsername`,
                               `insertTime`)
        VALUES(

        #{chooseLogId},
        #{score},
        #{chooseUsername},
        #{insertTime})
    </insert>
    <select id="queryByChooseUsername" parameterType="string" resultMap="userScoreLog">
        select * from  t_user_score_log t where t.chooseUsername=#{chooseUsername}
    </select>

    <select id="queryByChooseLogId" parameterType="string" resultMap="userScoreLog">
        select * from t_user_score_log t where t.chooseLogId=#{chooseLogId}
    </select>

    <select id="excChooseLogIdAvg" parameterType="string" resultType="DOUBLE">
        select avg(t.score) from t_user_score_log t where t.chooseLogId=#{chooseLogId}  and t.score!=0  group by chooseLogId
    </select>


    <update id="deleteAll">
        truncate table t_user_score_log
    </update>
    <select id="queryNumAll" resultType="int">
        select count(1) from t_user_score_log
    </select>

    <select id="queryDetailByUsernameAndScoreIs" parameterType="map" resultType="com.j.qsng.dto.UserScoreLogDto">
        SELECT m1.userScoreId,
               m1.id,
               m1.prodId,
               m1.userId,
               m1.attachmentId,
               m1.chooseIs,
               m1.imageName,
               m1.intro,
               m2.username,
               m2.name,
               m2.msisdn,
               m2.sex,
               m3.newName,
        truncate(m1.score,2) as score
          FROM (SELECT t1.userScoreId,
                       t1.id,
                       t2.userId,
                       t2.id AS prodId,
                       t2.attachmentId,
                       t1.chooseIs,
                       t2.imageName,
                       t2.intro,
                       t1.score
                  FROM (SELECT t1.id AS userScoreId,
                               t1.chooseUsername,
                               t1.chooseLogId,
                               t1.score,
                               t2.id,
                               t2.username,
                               t2.prodId,
                               t2.choosePeriod,
                               t2.chooseIs
                          FROM (SELECT *
                                  FROM t_user_score_log
                                 WHERE chooseusername = #{chooseusername}
                                 <if test="score==1">
                                     and score>0
                                 </if>
                                <if test="score==0">
                                    and score=0
                                </if>
                                 ) t1
                               LEFT JOIN t_choose_log t2 ON t1.chooseLogId = t2.id)
                       t1
                       LEFT JOIN t_user_pic t2 ON t1.prodId = t2.id) m1
               LEFT JOIN t_user m2 ON m1.userId = m2.id
               LEFT JOIN t_attachment m3 ON m1.attachmentId = m3.id
            </select>

    <select id="queryById" parameterType="string" resultMap="userScoreLog">
        select * from t_user_score_log t where t.id=#{id}
    </select>
    <update id="updateScoreAndTime" parameterType="com.j.qsng.model.admin.UserScoreLog">
         update t_user_score_log set score=#{score},insertTime=#{insertTime}
           where id=#{id}
    </update>

    <select id="queryPageDetailByUsernameAndScoreIs" parameterType="map" resultType="com.j.qsng.dto.UserScoreLogDto">
        SELECT m1.userScoreId,
        m1.id,
        m1.prodId,
        m1.userId,
        m1.attachmentId,
        m1.chooseIs,
        m1.imageName,
        m1.intro,
        m2.username,
        m2.name,
        m2.msisdn,
        m2.sex,
        m3.newName,
        truncate(m1.score,2) as score
        FROM (SELECT t1.userScoreId,
        t1.id,
        t2.userId,
        t2.id AS prodId,
        t2.attachmentId,
        t1.chooseIs,
        t2.imageName,
        t2.intro,
        t1.score
        FROM (SELECT t1.id AS userScoreId,
        t1.chooseUsername,
        t1.chooseLogId,
        t1.score,
        t2.id,
        t2.username,
        t2.prodId,
        t2.choosePeriod,
        t2.chooseIs
        FROM (SELECT *
        FROM t_user_score_log
        WHERE chooseusername = #{chooseusername}
        <if test="score==1">
            and score>0
        </if>
        <if test="score==0">
            and score=0
        </if>
        ) t1
        LEFT JOIN t_choose_log t2 ON t1.chooseLogId = t2.id)
        t1
        LEFT JOIN t_user_pic t2 ON t1.prodId = t2.id) m1
        LEFT JOIN t_user m2 ON m1.userId = m2.id
        LEFT JOIN t_attachment m3 ON m1.attachmentId = m3.id order by m1.id ASC limit  #{offset},#{size}
    </select>

    <select id="queryNumByChooseusername" parameterType="map" resultType="int">
        select count(1) from t_user_score_log WHERE chooseusername =#{chooseusername}
        <if test="score==1">
            and score>0
        </if>
        <if test="score==0">
            and score=0
        </if>
    </select>

    <select id="queryNumByChooseusernameAndScoreIs" parameterType="map" resultType="int">
        select count(1) from t_user_score_log WHERE chooseusername =#{chooseusername}
        <if test="score==1">
            and score>0
        </if>
        <if test="score==0">
            and score=0
        </if>
    </select>
</mapper>
